 header nav {
    background-color: #2C3E50;
   
    color: white;
}

li {
    list-style-type: none;
    margin-left: 20px;
}

body {
    margin: 0 auto;
}

/* [class*="col-"] {
    min-height: 100px;
    background-color: pink;
    border: solid 2px white;
} */

/* jumbo */
#jumbo {
    background-color: #1ABC9C;
    min-height: 250px;
    text-align: center;
    margin-bottom: 50px;
    color: white;
}

.line{
    border: solid 3px white;
}

.line.black {
    border-color: black;
}

.container-star {
    margin-bottom: 20px;
}

.star {
    font-size: 40px;
}

#jumbo img {
    height: 150px;
}

.black {
    color: black;
}

/* about */

.about {
    min-height: 300px;
    background-color: #1ABC9C;
    text-align: center;
}

i {
    font-size: 50px;
    color: black;
}

/* contact
 */
.contact {
    margin-bottom: 50px;
}

.my-container {
    text-align: center;
    margin-top: 50px;
}

.container-form {
    width: 70%;
    
    margin: 0 auto;
}

input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid black;
    padding: 10px 0;
    color: #2C3E50;
}

textarea {
    border: 0;
    border-bottom: 1px solid black;
}

.btn {
    background-color: #1ABC9C;
}

/* footer */

.foot {
    background-color: #3A546D;
    color: white;
    
}

.footer-foot {
    height: 100px;
    background-color: #2C3E50;
    color: white;
    text-align: center;
}